key.txt
v2/key.txt
v2/.ssh
v2/wrapper_img.sh
v2/wrapper_download.sh
wrapper_2.sh
wrapper_img.sh
*.log
*.tgz
v2/*.tgz
logs
.RequestId
.Zones
.Zones.Zone
.Zones.Zone[0]
.aliyun/
.bash_history
.bashrc
.cache/
.gitconfig
.lesshst
.pip/
.profile
.pydistutils.cfg
.rpmdb/
.ssh/
.vim/
.viminfo
*Zones*
*build/
set.sh
*.tar
snap/
