name: start aosp build task

#on:
  #schedule:
    # 使用 cron 语法设置定时，此处为每天 UTC 时间 00:00 运行
    # 注意：GitHub Actions 使用 UTC 时间，请根据你的时区调整
    #- cron: '0 0 * * *'
  # 允许在 GitHub 页面上手动触发此工作流
  #workflow_dispatch:
  #
on:
  #push:
    #branches: [master]
  workflow_dispatch:



jobs:
  start_aosp_build:
    runs-on: ubuntu-latest
    steps:
      - name: Configure Aliyun CLI
        run: |
          # 1. 安装 Aliyun CLI
          /bin/bash -c "$(curl -fsSL https://aliyuncli.alicdn.com/install.sh)"
          # 2. 配置认证信息（从仓库 Secrets 读取）
          aliyun configure set \
            --profile default \
            --region ${{ vars.ALIYUN_REGION }} \
            --access-key-id ${{ secrets.ALIYUN_ACCESS_KEY_ID }} \
            --access-key-secret ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}

      - name: start_aosp_build
        id: start_aosp_build
        run: |
         invoke_id=$(aliyun ecs RunCommand \
          --Name "exec_aosp_build_script" \
          --Type "RunShellScript" \
          --InstanceId.1 ${{ vars.ALIYUN_MANAGER_ECS_INSTANCE_ID }} \
          --CommandContent "bash /root/1start_aosp_build.sh daily" |jq -r '.InvokeId')

          echo "invoke_id=$invoke_id" 
          echo "invoke_id=$invoke_id" >> $GITHUB_OUTPUT

      - name: 获取命令执行结果（轮询）
        run: |
          sleep 60
          for i in {1..16}; do
            result=$(aliyun ecs DescribeInvocationResults \
              --InvokeId "${{ steps.start_aosp_build.outputs.invoke_id }}")

            status=$(echo "$result" | jq -r '.Invocation.InvocationResults.InvocationResult[0].InvokeRecordStatus')
            output=$(echo "$result" | jq -r '.Invocation.InvocationResults.InvocationResult[0].Output')
            invocationStatus=$(echo "$result" | jq -r '.Invocation.InvocationResults.InvocationResult[0].InvocationStatus')

            echo "当前状态: $status"
            if [[ "$status" == "Finished" ]]; then
              echo "命令执行完毕"
              echo "invocation status"
              echo "$invocationStatus"
              echo
              echo "命令输出:"
              echo "$output" | base64 -d
              break
            fi
            sleep 15
          done
